@import './styles/global.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.menu {
    width: 100px;
    height: 906px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 34px;
}

.menu-all {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: #02577A;
    display:none;
  }

.menu:hover a {
    display: contents;
    
   
    }

.menu:hover {
        width: 200px;
        transition: 1s;
        font-size: 16px;
    }

.menu-title {
     padding: 20px;
     display: flex;
     align-items: center;
     margin-left: 11px;
     
    
    }

.logo {
    margin-left:auto;
    margin-right: auto;
    height: 34px;
    width: 68px;
    justify-content: center;
   }

.home {
    height: 25px;
    width: 25px;
    margin-right: 19px;
}

.home1 {
    background-color: #fff;
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
}

.calendar {
    height: 25px;
    width: 25px;
    margin-right: 19px;
}

.cubes {
    height: 25px;
    width: 25px;
    margin-right: 19px;
}

.pad {
    height: 25px;
    width: 40px;
    margin-right: 19px;
}

.footer {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin:auto;
    width: 346px;
    display: flex;
    justify-content: center;
    border: none;
    border-top: 2px solid #02577A;

}